

.section-main{
    background-color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3{

}


.bio-section{
    background-color: none;
    display: flex;
    margin-top: 75px;
    flex-wrap: ;

    

}


.biograph{
    padding: 15px;
    max-width: 70%;
    overflow-wrap:anywhere;
    text-align: justify;

}


.dream-statement{
    text-align: center;
}

.bio-img{
    background-color: rgb(3, 22, 170);
    margin-left: 18%;
}

.bio-img > img{
    border-radius: 300px;
    border: 2px solid #ddd;
    width: 100px;
    height: 100px;
    margin-top: 30px;
    display: flex;
}



.nav-bar-section{
    background-color: rgb(4, 4, 134);
    display: flex;
    margin-top: 2px;
    position: sticky;
    top: 0;

}


.nav-bar-name{
    display: inline;
    padding: 2px;
    color: white;
    margin-left: 7px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.nav-bar{
    align-content: center;
    margin-left: 64%;
    display: inline;
    padding: 2px;
    font-weight: bold;
    color: white;

}

.nav-bar:hover:before{
    background-color: blueviolet;
}

a{
    text-decoration: none;
    padding: 2px;
    align-content: center;
    padding: 4px; 
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}


#about{
    padding: 15px;
    margin-top: 25px;
    text-align:center;
    justify-content: center;
    display: flex;
    flex-wrap:wrap;
    background-color: rgb(232, 241, 249);
        
}

#about >h3{
    text-transform: uppercase;
}

/*
.back-head{
    text-align: center;
    background-color: blue;
    display: inline;
     
}
    */

.about-me-div{
    padding: 10px;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    
}

.about-me-details{
    text-align: justify;
    justify-content: center;
    padding-right: px;
    display: inline; 
    margin-right: 3%;
    word-spacing: normal;
    padding: 15px;
    text-indent: 40px;
    background-color: ;
    flex-direction: row;
    max-width: 68.5%;
    overflow-wrap: anywhere;

}
.about-me-details > h4{
    text-align: center;
    line-height: ;
    margin: 6px;
}


.aside-div{
    background-color: ;
    margin-right: ;
    margin-bottom: ;
    border-left: ;
    border-radius: 10px;
    max-width: 60%;
    margin: px;
    padding: 20px;
    text-align: ;
    display: inline;
    justify-content: center;
    align-items: center;
    line-height: ;
    
}

.aside-div > h4{
    margin-top: 10px;
    text-align: center;
    margin-right: 5px;
    padding: 4px;
    line-height: 0.9em;
    margin-bottom: 6px;
    background-color:rgb(213, 213, 246);
    border-radius: 8px;
    

}

.side{
    margin-top: 10%;
    justify-content: ;
    align-items: ;
    background-color: ;
    padding: 10px;
    max-width: ; 
}



.aside-sec{
    padding: 2%;
    text-align: justify;
    border-left: solid rgb(172, 111, 31);
    padding-bottom: 2%;
    border-radius: 4px;
    margin: 4px;
    box-shadow: 0 0 10px 0 rgba(175, 175, 255, 175);
    font-weight: bold;
    color:rgb(2, 2, 129);
    text-align: ;
    max-width: ;
}



#projects{
    background-color: rgb(236, 245, 252);
    display: ;
    text-align: ;
    align-items: ;

}


.project-div-card-head{
    background-color: ;  
    margin-top: 50px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}


.project-div{
    background-color: ;
    display: flex;
    margin-top: 40px;
    padding: px;
    flex-direction: ;
    flex-wrap: wrap;
    align-items: ;
    margin-left: px;
    justify-content: center;
    

}


.project-div-card-container-one{
    background-color:rgb(255, 255, 255);
    padding: 15px;
    display: ;
    flex-wrap: ;
    border-radius: 10px;
    max-width: 300px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 10px;
    box-shadow: 0 0 10px 0 rgba(175, 175, 255, 175);
    
}


.project-div-card-container-two{
    background-color:rgb(255, 255, 255);
    padding: 15px;
    display: ;
    flex-wrap: ;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 300px;
    margin-top: 8px;
    margin-bottom: 8px;
    box-shadow: 0 0 10px 0 rgba(175, 175, 255, 175);

}

.project-div-card-container-three{
    background-color: rgb(255, 255, 255);
    padding: 15px;
    max-width: 300px;
    border-radius: 10px;
    gap: px;
    margin-right: px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: px;
    box-shadow: 0 0 10px 0 rgba(175, 175, 255, 175);

}   

.div-card-head{
    background-color: ;
    line-height: 01em;
   
}


h5, p.div-card-head{
    display: block;
}


.div-card-container-first-sec{
    margin-bottom: px;
    position:static;
    background-color: rgb(0, 5, 154);
    border-radius: 5px;
    padding: 10px;
    line-height: ;
    color: white;
    box-shadow: 0 1px 5px 0 rgba(0, 5, 100, 4);


}


.div-card-container-second-sec{
    border-width: 10px;
    padding: 5px;

}


.figure-div{
    
}


.project-div-card-pic > img{
    border-radius: 10px;
    border: 2px solid #ddd;
    width: 200px;
    height: 100px;
    margin-top: px;
   
}



.project-div-card-details{
    background-color: ;
    line-height: 15.5px;
    overflow: ;

}


.project-div-card-years{
    background-color: ;
    display: flex;
    line-height: px;
    padding: 4px;
    margin: px;
    margin-top: -20px;
  
    

}


.badges{
    display: inline;
    padding: 5px;
    border: none;
    border-radius: 10px;
    margin: 2px;
    background-color: rgb(189, 222, 255);
    color: rgb(43, 43, 110);
    font-size: 14px;
    width: px;
    
}


.project-div-card-buttons{
    padding: 5x; 
    color: ;
    display: ;
    
    
    
}



.project-div-card-buttons >button{
    border: 2px;
    padding: 4px;
    border-radius: 4px;
    border: none;
    background-color: rgb(39, 156, 39);
    color: solid rgb(219, 146, 1);
    display: inline;

}



#skills{
    background-color: ;
    margin-top: 100px;
    box-shadow: 0 0 20px 0 rgba(200, 250, 255, 175);
    color: rgb(0, 0, 160);
    border-radius: 20%;
    
}
#skills >h3{
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(225, 225, 254);
}


.tech-skills-div-sec{
    background-color: ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-items: stretch;
    
}


.tech-skills-div-one{
    background-color:aliceblue;
    margin: 20px;
    line-height: 1em;
    padding: 8px;
    text-align: ;
    box-shadow: 0 0 10px 0 rgba(175, 175, 255, 175);
    border-radius: 10px;

}



.tech-skills-div-two{
    background-color: aliceblue;
    margin: 20px;
    line-height: 1em;
    padding: 8px;
    text-align: ;
    box-shadow: 0 0 10px 0 rgba(175, 175, 255, 175);
    border-radius: 10px;

}


.tech-skills-div-three{
    background-color: aliceblue;
    margin: 20px;
    line-height: 1em;
    padding: 8px;
    text-align: ;
    flex-shrink: ;
    box-shadow: 0 0 10px 0 rgba(175, 175, 255, 175);
    border-radius: 10px;
}


progress{
    max-width: 100%;
    line-height: 1px;
    color: solid brown;
    
}

.p-1{
    background-color: ;
    padding: 5px;
    line-height: 0.9em;
    box-shadow: 0 0 20px 0 rgba(175, 175, 255, 175);
    border-radius: 5px;
}



#contact{
    background-color: ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 6%
}
#contact >h3{
    justify-content: center;
}


.contact-form-div{
    background-color: aliceblue;
    display: flex;
    flex-wrap: ;
    flex-direction: row;
    margin: 15px;
    width: 100%;
    padding: 20px;
    align-items: stretch;
    justify-content: center;
    margin-right: ;
    border-collapse: separate;
    border-spacing: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgba(175, 175, 255, 175);
       
}

.contact-fa{
    margin: ;
    margin-left: ;
}


.contact-div-one-main{
    background-color: aliceblue;
    display: inline;
    flex-wrap: wrap;
    width: 40%;
    max-width:;
    margin-right: 10px;
    padding: 20px;
    justify-content: center;
    text-align: justify;
    border-collapse: ;
    border-spacing: px;
    box-shadow: 0 0 0.8px 0 rgba(175, 175, 175, 175);

}


input[type=text]{

    width: 95%;
    padding: 8px 10px;
    box-sizing:border-box;
    border: 2px solid rgb(182, 182, 182);
    margin: 2px;
    transition: 0.5s;
    display: flex;
    
}

input[type=text]:focus{
    width: 95%;
    border: 3px solid aliceblue;
}

input[type=submit]{
    padding: 5px;
    width: 20%;
    background-color: rgb(64, 112, 234);
    color: white;
    border-radius: 5px;
    text-align: center;
    display: inline;
    
}

input[type=submit]:hover{
    color:rgb(255, 255, 255);
    background-color: rgb(16, 58, 212);
    transition: 0.3s ease-in-out;
    cursor: pointer;

}

textarea{
    box-sizing:border-box;
    border: 3px solid aliceblue;
    border: 2px solid rgb(182, 182, 182);
    display: ;
}



.contact-form-div-two{
    background-color: ;
    width: 60%;
    margin-left: %;
    margin: px;
    display: ;
    justify-content: ;
    text-align: justify;
    overflow-wrap: inherit;
    overflow: ;

}



.contact-div-two-main{
    background-color: ;
    width: 40%;
    margin-left: 10px;
    padding: 15px;
    justify-content: center;
    position: ;
    margin-left: ;
    display:;
    flex-wrap: ;  
}

.contact-div-two-main >h4{
    text-align: justify;
}


.fa-div-1-sec-1{
    background-color: ;
    display: flex;
    flex-direction: ;
    margin: 5px;
    padding: 2px;
    display:;
    display: ;
}

.fa-div-1-sec-2{
    background-color: ;
    display: flex;
    margin: 5px;
    padding: 2px;
}

.fa-div-1-sec-3{
    background-color: ;
    display: flex;
    margin: 5px;
    padding: 2px;
}

.connect-fa-inner-1st{
    margin-right: 15px;
    display: ;


}

.connect-fa-inner-1{

}

.connect-fa-inner-1 > a{
    display: flex;
    overflow:;
}

.connect-fa-1{
    overflow-wrap: wrap;
    display: inline-flex;
    background-color: ;
    flex-direction: column;
}

.connect-fa-2{
    background-color: ;
    display: inline-flex;
    flex-direction: row;
    gap: px;
    margin-top: 10px;
    margin-left: ;
    padding: 2px;
    word-spacing: 6px;
    
   
}

.connect-fa-inner-2{
    background-color: rgb(24, 62, 227);
    margin-right: px;
    border-radius: 98%;
    color: white;
    margin: 5px;
    border-radius: ;
    padding-top: ;
    padding-bottom: ;
    padding-left: 20px;
    padding-right: 20px;
    padding: 10px;
    padding-right: ;
    text-align: center;
    align-items:;
    justify-content:;
    display: ;
    
}

.fa-connect{
    background-color: ;
    border-radius: 100%;
    padding: ;

}


/*
.connect-fa-inner-3{
    background-color: rgb(24, 62, 227);
    margin-right: 6px;
    border-radius: 100px;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 10px;
    padding: 6px;
    padding-right: 10px;
    text-align:center;
    align-items:center;
    justify-content:center;
    display: ;
}
*/


